altgraph==0.17.4
Nuitka==2.7.12
ordered-set==4.1.0
packaging==25.0
pefile==2023.2.7
PyGetWindow==0.0.9
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.7
pynput==1.7.7
PyRect==0.2.0
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pywin32-ctypes==0.2.3
setuptools==80.9.0
shiboken6==6.9.1
six==1.16.0
style==1.1.0
update==0.0.1
zstandard==0.23.0
